@model IEnumerable<Evolution.Plugins.ScrumKanBan.Models.ProjectEntity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Plugins/Evolution.Plugins.ScrumKanBan/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifyTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifyTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="ViewStories" asp-route-id="@item.Id">View Stories</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
